.venv/
node_modules/
test.py

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*
.terraform.lock.hcl

# Serverless
.serverless/

# Python
__pycache__/
*.pyc

# AWS / kredencijali
.env
*.pem

# Lambda zip build
Infra/build/

# Python biblioteke u Lambda src
Lambdas/Bronze/HN/src/*/
Lambdas/Bronze/HN/src/*.so
Lambdas/Bronze/HN/src/*.dist-info/